*,*::after, *::before{
  box-sizing: border-box;
}
body,html{
  margin: 0;
  padding: 0;
}

.container-land{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 85vh 15vh;
}

.container-land .left-box{
  background-color: #1da1f2;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items:center;
}

.container-land .left-box ul li{
  list-style-type: none;
  font-size: 18px;
  line-height: 24px;
  margin:50px 0;
  font-weight: bold;
  color:#fff;
}
.container-land .left-box ul li .icon{
  font-size: 22px;
  margin-right: 10px;
}


/* Right Box */
.container-land .right-box{
  background-color: #fff;
  grid-column: 2 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-land .right-box .card{
  min-width: 300px;
  padding: 0 60px;
}

.container-land .right-box .card .head{
  display: flex;
  justify-content: space-between;

}
.container-land .right-box .card .head .logo-icon{
  font-size: 3em;
  color:#1da1f2;
}
.container-land .right-box .card  h1{
  font-size: 27px;
  line-height: 32px;
  color:#14171a;
}
.container-land .right-box .card p{
  font-size:16px;
  font-weight:bold;
  color: #14171a;
}


.container-land .bottom-box{
	background-color: pink;
	grid-column: 1 / -1;

}

/* Button */

button.btn{
  display: block;
  border:none;
  outline: none;
  font-size:14px;
  line-height: 20px;
  padding: 6px 16px;
  border-radius: 100px;
  font-weight: bold;
}

button.block{
  width: 100%;
}

button.primary{
  background-color: #1da1f2;
  color:#fff;
}

button.outline{
  background-color: #fff;
  color:#1da1f2;
  border:1px solid #1da1f2;
}

.mt-1{margin-top:1em;}
.mt-2{margin-top:2em;}