{% extends "twitterapp/base.html" %}
{% block javascript %}

{% endblock %}
{% block content %}
  {% load crispy_forms_tags %}
  <article class="media content-section">
    
    <span  class="border-bottom"><h5 style="font-weight: bold;">Home</h5></span>
    <div  class="tweet-form">
      <form method="post" enctype="multipart/form-data">
        <fieldset class=" field form-group">{% csrf_token %}
          <img src="{{ user.profile.image.url }}" class="rounded-circle user-img">
          {{form|crispy}}
        </fieldset>
        <div class="form-group tweet-button ">
          <button class="btn btn-info btn-tweet " type="submit">Tweet</button>
        </div>
      </form>
    </div>
  </article>
 

 
  
  {%for post in  posts %}
  {% if post.tweet %}
   {% if post.tweet.user.profile in following.all or post.tweet.user ==  user %}
  
    <div class="infinite-container">
      <div class="infinite-item">
        <article class="media content-section ">
          <!-- authorun profilindeki imagein urli-->
          <img src="{{ post.tweet.user.profile.image.url }}" class="rounded-circle article-img">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-1" href="{% url 'user-detail' post.tweet.user %}">{{ post.tweet.user }}</a>
              <small class="text-muted">@{{ post.tweet.user }}- {{ post.tweet.date_created }}</small>
              <small  class="text-muted">{{ post.tweet.like_set.all.count }}</small>
            </div>
            <a class="tweet-link" href="{% url 'tweet-detail' post.tweet.pk %}"><p class="article-content">{{ post.tweet.content }}  </p></a>
            {% if post.tweet.image %}
              <img src="{{ post.tweet.image.url }}" class="rounded img-thumbnail tweet-img">
            {% endif %}
            <nav id="tweet-icons">
        

               <form data-url = "{% url 'retweet' %}" id="retweetForm" method="post"> {% csrf_token %}
                  <button id="retweetButton-{{ post.tweet.id }}"   onClick='event.preventDefault(); retweet({{ post.tweet.id }})' data-id='{{ post.tweet.id }}' style="border: 0; background: none;">
                  <i class="fa fa-retweet" aria-hidden="true">
                    {{ post.tweet.retweets.all.count}}
                  </i>
                  </button>
                </form>

              <a>
             
                  <button id=button-{{post.tweet.id}} name="tweet_id" onClick='likeTweet({{ post.tweet.id }})' style="border: 0; background: none;" class="{% if request.user in post.tweet.likes.all %} likes-button {% endif %}">
                  <i class="fas fa-heart">
                   {{ post.tweet.likes.all.count }}   </i>
                  </button>
              </a>
              <a class="comment-icon" href="#"><i class="fas fa-comment" id="reply"></i></a>
            </nav>
          </div>
        </article>
      </div>
    </div>
    {% endif %}
  
 {% else %}
 <div id="retweetList">
  {% if post.retweetmodel.user.profile in following.all or post.retweetmodel.user == user %}
    <div class="infinite-container">
      <div class="infinite-item">
        <article class="media content-section ">
          <!-- authorun profilindeki imagein urli-->
          <img src="{{ post.retweetmodel.user.profile.image.url }}" class="rounded-circle article-img">
          <div class="media-body">
            <div class="article-metadata">
              <a href="{% url 'user-detail' post.retweetmodel.user %}"><small class="text-muted"><i class="fas fa-retweet"></i> {{ post.retweetmodel.user }} Retweeted</small></a>
              <br>
              <a class="mr-1" href="{% url 'user-detail' post.retweetmodel.user %}">{{ post.retweetmodel.user }}</a>
              <small class="text-muted">@{{ post.retweetmodel.user }}- {{ post.retweetmodel.date_created }}</small>
              <small  class="text-muted">{{ post.retweetmodel.retweet.like_set.all.count }}</small>
            </div>
            <a class="tweet-link" href="{% url 'tweet-detail' post.retweetmodel.retweet.pk %}"><p class="article-content">{{ post.retweetmodel.retweet.content }}  </p></a>
            {% if post.retweetmodel.retweet.image %}
              <img src="{{ post.retweetmodel.retweet.image.url }}" class="rounded img-thumbnail tweet-img">
            {% endif %}
          </div>
        </article>
      </div>
    </div>
    {% endif %}
  {% endif %}  
  {% endfor %}
</div>
.
  </div>


  <script>
    function likeTweet(id){
      $.ajax({
        url : '{% url "like_tweet" %}',
        data : {
          'id':id,
        },
        dataType:'json',
        success:function(data){
          console.log(data)
          let likeButton  = $(`#button-${id}`)
          console.log()
          let likeCount = parseInt(likeButton.text());
          if(data.is_liked){
            likeButton.css('color','red');
            likeCount += 1;
            likeButton.children().text("  " + likeCount)


          }else{
            likeButton.css('color','#000')
            likeCount-=1;
            likeButton.children().text( "  " + likeCount)
          }
        }

      })
    }



    function retweet (id) {
       $.ajax({
          url : $("#retweetForm").data('url'),
          data: {
            "id":id,
          },
          dataType:'json',
          headers :{'X-CSRFToken': csrftoken},
          type:"post",
          success:function(response){
            username = response.tweet['username']
            content = response.tweet['content']
            userImageUrl = response.tweet['user_image']
            date_created = response.new_retweet.date_created
            $('#retweetList').append(` <div class="infinite-container">
      <div class="infinite-item">
        <article class="media content-section ">
          <!-- authorun profilindeki imagein urli-->
          <img src="${userImageUrl}" class="rounded-circle article-img">
          <div class="media-body">
            <div class="article-metadata">
              <a href=""><small class="text-muted"><i class="fas fa-retweet"></i> ${response.retweet_username} Retweeted</small></a>
              <br>
              <a class="mr-1" href=""></a>
              <small class="text-muted">@-${username}-${date_created}</small>
              <small  class="text-muted"></small>
            </div>
            <a class="tweet-link" href=""><p class="article-content">${content} </p></a>
          </div>
        </article>
      </div>`)
        }
    });

}
    




  </script>
  
  
{% endblock content %}