<!DOCTYPE html>
<html>
<head>
	<script src="https://kit.fontawesome.com/5f3fa22d30.js"></script>
	<title>Twitter</title>

	
	<link rel="stylesheet" type="text/css" href="custom.css">

</head>
<body>
	<div class="container-land">
		<div class="left-box">
			
			<ul>
				<li>
					<i class="fas fa-search icon"></i>
					Follow your interests.
				</li>
				<li>
					<i class="fas fa-user-friends icın"></i>
					Hear what people are talking about.
				</li>
				<li>
					<i class="far fa-comment icon"></i>
					Join the conservation.
				</li>
			</ul>
		</div>
		<div class="right-box">
			<div class="card">
				<div class="head">
					<i class="fab fa-twitter logo-icon"></i>
					<button class="btn outline">Log In</button>
				</div>
					<h1>See what's happening in the world right now</h1>
					<p>Join Twitter Today</p>
					<button class="btn primary block">Sign Up</button>
					<button class="btn outline block mt-1">Log In</button>
				
			</div>
		</div>
		<div class="bottom-box">
			
		</div>
	</div>
</body>
</html>