{% load crispy_forms_tags %}
<article class="media content-section">
	
	<span  class="border-bottom"><h5 style="font-weight: bold;">Home</h5></span>
	
	<form method="post" enctype="multipart/form-data">
		<fieldset class="form-group">{% csrf_token %}
			<div class="inner-addon left-addon">
				{{form|crispy}}
				<img src="{{ user.profile.image.url }}" class="rounded-circle user-img">
				
			</div>
		</fieldset>
		<div class="form-group tweet-button ">
			<button class="btn btn-info " type="submit">Tweet</button>
		</div>
	</form>
</article>